{% extends('layouts/home.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Ürün Resmi</th>
                            <th>Ürün Adı</th>
                            <th>Adet</th>
                            <th>Fiyat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for item in cart %}
                            <tr>
                                <td>
                                    <img width="100" src="{{ asset('uploads/products/' ~ item.product.image) }}"
                                         alt="">
                                </td>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.totalPrice }}</td>
                            </tr>
                            {% set total = total + item.totalPrice  %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="float: right">
                Toplam : {{ total }} TL
                <a href="{{ path('user.order.create') }}" class="btn btn-success">
                    Sipariş Ver
                </a>
            </div>

        </div>
    </div>
{% endblock %}