{% extends('layouts/home.html.twig') %}

{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="bbb_deals">
                    <div class="bbb_deals_slider_container">
                        <div class=" bbb_deals_item">
                            <a href="">
                                <div class="bbb_deals_image"><img src="{{ asset('uploads/products/' ~ product.image) }}"
                                                                  alt=""></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_name">{{ product.title }}</div>
                                        <div class="bbb_deals_item_price ml-auto">{{ product.price }} TL</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Stokta <span>{{ product.stock }}</span></div>
                                        </div>
                                        <div class="available_bar"><span style="width:17%"></span></div>
                                        <a href="{{ path('user.cart.add_product',{product_id : product.id}) }}">
                                            <div class="available_title_inspect">
                                                Sepete Ekle
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}