{% extends('layouts/home.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sipariş Ver</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- general form elements disabled -->
            <div class="card card-warning">
                <!-- /.card-header -->
                <div class="card-body">
                    <form method="post" action="{{ path('user.order.store') }}" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Adres</label>
                                    <textarea class="form-control" rows="3" placeholder="Sipariş Adresi"
                                              name="address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Sipariş Ver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}