<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bircom.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Bircom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.cart') }}">Sepet</a>
            </li>
            {% if app.user %}
                <li class="my-2 my-lg-0">
                    <a class="nav-link" href="#">{{ app.user.email }}</a>
                </li>

                <li class="my-2 my-lg-0">
                    <a class="nav-link" href="{{ path('app_logout') }}">Çıkış Yap</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
