{% extends('layouts/admin.html.twig') %}

{% block body %}
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Yeni Ürün Ekle</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- general form elements disabled -->
        <div class="card card-warning">
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" action="{{ path('admin.products.store') }}" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Ürün Adı</label>
                                <input type="text" class="form-control" placeholder="Ürün Adı" name="title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Ürün Açıklaması</label>
                                <textarea class="form-control" rows="3" placeholder="Ürün Açıklaması"
                                          name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Stok</label>
                                <input type="text" class="form-control" placeholder="Ürün Stok durumu" name="stock">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input type="text" class="form-control" placeholder="Ürün Fiyatı" name="price">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- select -->
                            <div class="form-group">
                                <label>Durum</label>
                                <select class="form-control" name="on_sale">
                                    <option selected>Seçiniz</option>
                                    <option value="0">Satışta Değil</option>
                                    <option value="1">Satışta</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Ürün Resmi</label>
                                <input type="file" class="form-control" name="image">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>

{% endblock %}