{% extends('layouts/admin.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ürünler</h3>
                    <br>
                    <a href="{{ path('admin.products.new') }}" class="btn btn-success">
                        Yeni Ürün Ekle
                    </a>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün Adı</th>
                            <th>Ürün Açıklaması</th>
                            <th>Stok</th>
                            <th>Durum</th>
                            <th>İşlem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.stock }}</td>
                                <td>{{ product.onSale == 0 ? 'Satışta Değil' : 'Satışta'}}</td>
                                <td>
                                    <a href="{{ path('admin.product.show',{ product_id: product.id}) }}">
                                        Detay
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}