{% extends('layouts/admin.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ürün Düzenle</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-warning">
                <div class="card-body">
                    <form method="post" action="{{ path('admin.products.update',{ product_id : product.id}) }}">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Ürün Adı</label>
                                    <input type="text" class="form-control" placeholder="Ürün Adı" name="title" value="{{ product.title }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Ürün Açıklaması</label>
                                    <textarea class="form-control" rows="3" placeholder="Ürün Açıklaması"
                                              name="description">{{ product.description }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Stok</label>
                                    <input type="text" class="form-control" placeholder="Ürün Stok durumu" name="stock" value="{{ product.stock }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label>Durum</label>
                                    <select class="form-control" name="on_sale">
                                        <option selected>Seçiniz {{ product.onSale }}</option>
                                        <option value="0"
                                                {% if product.onSale == '0' %} selected="selected" {% endif %}
                                        >Satışta Değil</option>
                                        <option value="1"
                                                {% if product.onSale == '1' %} selected="selected" {% endif %}
                                        >Satışta</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>

{% endblock %}