{% extends('layouts/admin.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı</th>
                            <th>Durum</th>
                            <th>Detay</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.user.email }}</td>
                                <td>
                                    {{ order.status == 0 ? 'Onaylanmadı' : 'Onaylandı' }}
                                </td>
                                <td>
                                    <a href="{{ path('admin.order.show',{ order_id: order.id}) }}">
                                        Detay
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}