{% extends('layouts/admin.html.twig') %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ order.user.email }}</h3>
                    <br>
                    Adres : {{ order.address }}
                    <br>
                    {% if order.status != 1 %}
                        <a href="{{ path('admin.order.approve',{order_id:order.id}) }}" class="btn btn-success">
                            Onayla
                        </a>
                    {% endif %}
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün Resmi</th>
                            <th>Ürün Adı</th>
                            <th>Adet</th>
                            <th>Fiyat</th>
                            <th>Birim Fiyat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in order_items %}
                            <tr>
                                <td>{{ order_item.id }}</td>
                                <td>
                                    <img width="100" src="{{ asset('uploads/products/' ~ order_item.product.image) }}"
                                         alt="">
                                </td>
                                <td>{{ order_item.product.title }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.totalPrice }}</td>
                                <td>{{ order_item.product.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}