<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/admin/login.css') }}">

    <title>{{ page_title }}</title>

</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="{{ asset('img/bircom_logo.png') }}" id="icon" alt="Bircom Logo"/>
        </div>

        <form method="post" action="{{ path('app_login') }}">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="E-Posta">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Şifre">
            <input type="submit" class="fadeIn fourth" value="Giriş">
        </form>

    </div>
</div>
</body>
</html>


